/*  HOME  */
.home{
    background-color: var(--gray-color);
}
.home__container{
    height: calc(100vh - var(--header-height));
    
}

.home__data{
    align-self: center;
}

.home__title{
    align-self: center;
    font-size: 60px;
    line-height: 1;
    letter-spacing: .1rem;
    margin-bottom: 4rem;
    color: #0B29C9;
    font-weight: 800;
    
}

.home__title span{
    font-size: 22px;
    color: #A351D6;
}


.home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 250px;
    width: 550px;
}


@media screen and (min-width: 768px){
   

   /*  .nav{
        height: calc(var(--header-height) + 1rem);
        justify-content: initial;
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav__toogle{
        display: none;
    } */
    .home__container{
        height: 100vh
    }
   
    .home__img{
        width: 550px;
        top: 190px;
       
    }

    
}
@media screen and (max-width: 768px){
   

   /*  .nav{
        height: calc(var(--header-height) + 1rem);
        justify-content: initial;
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav__toogle{
        display: none;
    } */
    
   
    .home__img{
        display: none;
    }

}