/*  HOME  */
.home{
    background-color: var(--gray-color);
    
}
.home__container{
    height: calc(100vh - var(--header-height));
    
}

.home__data{
    align-self: center;
}

.home__title{
    align-self: center;
    font-size: 60px;
    line-height: 1;
    letter-spacing: .1rem;
    color: #0B29C9;
    font-weight: 800;
}

.home__title p{
    font-size: 20px;
    color: #A351D6;  
    font-weight: 600;
}


.home__img{
    position: absolute;
    right: 100px;
    bottom: 0;
    top: 200px;
    width: 550px;
}

.home__beneficios{
    display: grid;
    gap: 2.5rem;
    /* grid-auto-rows: 10rem; */
    grid-template-columns: repeat(auto-fill, minmax(4rem,1fr));
}

.home__beneficios__cajas{
    text-align: center;   
}
.home__beneficios__icon{
    font-size: 50px;
}
.home__h6{
    text-align: center;
}


/* media queries  */
@media screen and (min-width: 768px){
   
    .home__container{
        height: 100vh
    }
    .home__img{
      /*   width: 550px;
        top: 70px; */
       
    }   
}


@media screen and (max-width:768px){

    .home__img{
        display: none;
    }
    .home__data{
        text-align: center;
    }
    .home__title{
      margin-bottom: 0;
      font-size: 40px;
    }
}

@media screen and (max-width:600px){


}


@media screen and (max-width:400px){



}


