.portafolio__nav{
    text-align: center;
    margin-bottom: var(--mb-3);
}
.portafolio__item{
    margin: 0 var(--mb-2);
    cursor: pointer;
}


.portafolio__content{
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    
    text-align: center;
}

.portafolio__img{
    width: 15rem;
    height: auto;
    transition: .4s;
}

.portafolio__data{
    font-size: var(--small-font-size);
    color: var(--first-color-light);
    padding: 1rem 1rem;
    background-color: #fff;
    border-radius: .5rem;
    text-align: center;
    transition: .4;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.portafolio__title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin: var(--mb-2);
}

.portafolio__content:hover{
    box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.portafolio__content:hover .portafolio__img{
    transform: scale(1.02);
}

.active-portafolio{
    color: var(--first-color);
    font-weight: var(--font-semi);
}

.portafolio__container{
    display: grid;
   
     /* grid-auto-rows: 10rem; */
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

