@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
     /* ===== Header ====*/
    --header-height: 3rem;

    /* ===== Colors ====*/
    --first-color: #0B29C9;
    --first-color-light: #8C59A8;
    --second-color: #210179;
    --dark-color: #101010;
    --white-color: #FAFAFA;
    --white: #FFFFFF;
    --dark-color-light: #606060;
    --gray-color: #F0F1F3;
    
    /* ===== Font and typography ====*/
    
    --body-font: 'Poppins', sans-serif;
    --small-font-size: .813rem;
    --normal-font-size: .938rem;
    --font-semi:  600;
    --font-bold: 700;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
   
     /* ===== Margenes ====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    
    /* ===== z index ====*/
    --z-topltip:10;
    --z-fixed: 100;
  }


@media screen and (min-width: 768px) {
    :root {
      --normal-font-size: 1rem;
      --small-font-size: .813rem;   
      --big-font-size: 6rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
    }
  }

@media screen and (max-width: 768px) {
    :root {
      --normal-font-size: 1.2rem;
      --small-font-size: .875rem;
    }
  }
  
  /*===== BASE =====*/
*, ::before, ::after {
    
    box-sizing: border-box;
  }
  
  
*{
   
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    font-weight: 500;
    line-height: 1.6;

   }

h1, h2, p{
      margin: 0;
  }

ul{
      margin: 0;
      padding: 0;
      list-style: none;
  }

a{
    text-decoration: none;
    
}

img{
    max-width: 100%;
    height: auto;
}
